@import url('./css/basic.css');
@import url('./css/canvas.css');
@import url('./css/dialogue.css');
@import url('./css/hint.css');

body {
  background-color: black;
}
.hide-canvas .wrapped-canvas {
  filter: grayscale(1);
  opacity: 0;
  transition: all 2s;
}
.wrapper {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  z-index: 1;
}
.show-death .death-wrapper,
.show-end .end-wrapper {
  display: flex;
  opacity: 1;
  transition: all 2s;
}
.heading {
  font-weight: normal;
}
.btn {
  border: 1px solid white;
  padding: 5px 10px;
  transition: all .2s;
}
.btn:hover {
  background-color: white;
  color: black;
}
